html {
  color-scheme: light dark;
}

body {
  font-family: system-ui;
  font-size: 1.125rem;
  line-height: 1.6;
  width: min(65ch, 100% - 4rem);
  margin-inline: auto;
}

body > * {
  margin-bottom: 1em;
}

nav a:not([href]) {
  font-weight: bold;
}

form {
    display: grid;
    gap: 1em;
    grid-template-columns: 1fr 1fr;
}

input, textarea {
    max-width: 50vw;
}