<!doctype html>
<html lang="en">

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<meta name="Description" content="a collection of word game cheating tools">
	<title>Wordle Cheater</title>
	<link rel="shortcut icon" href="data:image/x-icon;base64," type="image/x-icon">
	{{- if not .NoJS}}
	<script defer src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.6/dist/htmx.min.js"></script>
	{{- end}}
	<style>
		{{template "main.css" .}}
	</style>
</head>

<body>
	<header>
	<h1>Wordle Cheater</h1>
	<nav hx-boost="true" hx-target="#main-template" hx-push-url="true">
		<a href="/{{with .NoJS}}?NoJS{{end}}">Wordle-Cheater</a>
		<a href="/spelling-bee{{with .NoJS}}?NoJS{{end}}">Spelling-Bee-Cheater</a>
		<a href="/letter-boxed{{with .NoJS}}?NoJS{{end}}">Letter-Boxed-Cheater</a>
	</nav>
	</header>
	<main>
		<div id="main-template">
			<h2>{{.Title}}</h2>
			{{- if .IsWordle}}
			{{template "wordle.html" .}}
			{{- else if .IsSpellingBee}}
			{{template "spelling_bee.html".}}
			{{- else if .IsLetterBoxed}}
			{{template "letter_boxed.html" .}}
			{{- end}}

			{{- define "instructions"}}
			{{- with .Instructions}}
			<p>
				<details open>
					<summary>Instructions:</summary>
					<ul>
						{{- range .}}
						<li>{{.}}</li>
						{{- end}}
					</ul>
				</details>
			</p>
			{{- end}}
			{{- end}}
		</div>

		<p>
			{{- if .NoJS}}
			<a href="?">With JavaScript</a>
			{{- else }}
			<a href="?NoJS">Without JavaScript</a>
			{{- end}}
		</p>
	</main>
	<footer>
		<a href="https://jacobpatterson1549.dev/">Homepage</a>
		<a href="https://github.com/jacobpatterson1549/wordle-cheater">Github</a>
	</footer>
</body>

</html>
