<!doctype html>
<html lang="en">

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<meta name="Description" content="a collection of word game cheating tools">
	<title>{{.Title}}</title>
	<link rel="shortcut icon" href="data:image/x-icon;base64," type="image/x-icon">
	<style>
		{{template "main.css" .}}
	</style>
</head>

<body>
    <header>
	<h1><a href="?">{{.Title}}</a></h1>
	<nav>
		<a {{if not .IsWordle}}href="/"{{end}}>Wordle-Cheater</a>
		<a {{if not .IsSpellingBee}}href="/spelling-bee"{{end}}>Spelling-Bee-Cheater</a>
	</nav>
	</header>
	<main>
		{{- if .IsWordle}}
		{{template "wordle.html" .Cheater}}
		{{- else if .IsSpellingBee}}
		{{template "spelling_bee.html" .Cheater}}
		{{- end}}
	</main>
    <footer>
		<a href="https://jacobpatterson1549.dev/">Homepage</a>
		<a href="https://github.com/jacobpatterson1549/wordle-cheater">Github</a>
	</footer>
</body>

</html>
