<form method="get" hx-boost="true" hx-target="this" hx-swap="outerHTML">
    <input hidden name="NoJS" type="checkbox" {{- if .NoJS}}checked{{end}}>
    {{- with .Cheater}}
    {{- range $i, $r := .Results }}
    <label for="g{{$i}}">Guess {{inc $i}}:</label>
    <input id="g{{$i}}" name="g{{$i}}" type="text" required
        min-length="5" maxLength="5" pattern="[a-z]{5}" value="{{$r.Guess}}" placeholder="a-z (5x)">
    <label for="s{{$i}}">Score {{inc $i}}:</label>
    <input id="s{{$i}}" name="s{{$i}}" type="text" required
        min-length="5" maxLength="5"  pattern="[can]{5}" value="{{$r.Score}}" placeholder="c/a/n (5x)">
    {{- end}}
    {{- if .Done}}
    <a href=".">Reset</a>
    {{- else}}
    {{- with .Possible}}
    <label for="Possible">Possible words:</label>
    <textarea id="Possible" rows="10">{{range .}}{{.}} {{end}}</textarea>
    {{- end}}
    <label for="ShowPossible">Show Possible words</label>
    <input id="ShowPossible" name="ShowPossible" type="checkbox" {{- if .ShowPossible}}checked{{end}}>
    <input type="submit">
    {{- end}}
    {{- end}}
</form>

{{template "instructions.html" .Instructions}}